.DS_Store
paper.aux
paper.bbl
paper.bcf
paper.fdb_latexmk
paper.fls
paper.log
paper.run.xml
paper.synctex.gz
paper.blg
*.pdf
paper.pdf
proposal.aux
proposal.fdb_latexmk
proposal.fls
proposal.log
proposal.synctex.gz
proposal.aux
proposal.fdb_latexmk
proposal.fls
proposal.log
*.aux
*.fdb_latexmk
*.fls
*.log
